:root {
    --container-width: 600px;
    --container-height: 450px;
    --button-width: 200px;
    --button-margin: 70px;
    --button-padding: 5px;
}

body {
    background-color: #ffffe0; /* This is a light yellow color */
}

/* latin */
@font-face {
    font-family: 'Fascinate Inline';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fascinate Inline'), local('FascinateInline-Regular'), url(font/jVyR7mzzB3zc-jp6QCAu60poNqIy5grIfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.invitation {
    text-align: center;
    width: var(--container-width);
    color: rgb(128,0,0);
    margin: 25px auto;
    font-size: bold;
}

.container{
    width: var(--container-width);
    height: var(--container-height);
    display: block;
    margin: 25px auto;
    position: relative;
    border: 1px solid #000;
    background-color: rgb(0,160,0);
}

#cvs{
    position: absolute;
    border: 1px solid #000;
}

.options{
    position: absolute;
    width: var(--container-width);
    height: var(--container-height);
}

.options h1{
    text-align: center;
    font-size: 65px;
    font-family: 'Fascinate Inline', cursive;
    color: rgb(224,0,0);
    margin: 30px 0 20px 0;
}

.options h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.options .section{
    width: var(--container-width);
    color: rgb(224,0,0);
}

.options .computer, .easy{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: var(--button-padding);
    background-color: #ffffe0;
    color: rgb(224,0,0);
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: var(--button-margin);
    width: var(--button-width);
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.options .friend, .hard{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: var(--button-padding);
    background-color: #ffffe0;
    color: rgb(224,0,0);
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: calc(var(--container-width) - 2*var(--button-margin) - 2*var(--button-width) - 4*var(--button-padding));
    width: var(--button-width);
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
}

.options .friend:hover, .computer:hover, .easy:hover, .hard:hover{
    background-color: #000;
    color: #FFF;
}

.options .play{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 70px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: #011627;
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.options .play:hover{
    width: 110px;
}

.active{
    background-color: #011627 !important;
    color: #FFF !important;
}

.hide{
    display: none;
}

.gamestart{
    position: absolute;
    width: var(--container-width);
    height: var(--container-height);
}


.opponent{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 150px;
}
.man{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.nextround{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: #011627;
    color: #FFF;
    cursor: pointer;

    right: 30px;
    top: 90px;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    background-color: #ffffe0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    border: 1px solid #000;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.guesstile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    background-color: #ffffe0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    border: 1px solid #000;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.prompt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-weight: bold;
    position: absolute;
    font-family: "Roboto";
    color: blue;
    margin-top: 60px;
    margin-left: 15px;
}

.guess{
    position: absolute;
    width: var(--container-width);
    height: var(--container-height);
}

.guesstext{
    font-family: "Roboto";
    color: blue;
    display: flex;
    width: var(--container-width);
    height: var(--container-height);
    text-align: center;
    margin-top: 100px;
}

.guesstext h3{
    margin-top: 8px;
    margin-left: 200px;
}

.bubble {
    width: 70px;
    height: 50px;
}

.manbubble {
    display: flex;
    position: absolute;
    width: 70px;
    height: 50px;
    left: 80px;
    bottom: 40px;
}

.oppbubble {
    display: flex;
    position: absolute;
    width: 70px;
    height: 50px;
    left: 80px;
    top:  40px;
}

.oppbubble .bubble{
    transform: scaleY(-1);
}

.bubbletext {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 70px;
    margin-top: 10px;
    text-align: center;
    color: brown;
}

.oppbubble .bubbletext{
    margin-top: 20px;
}

.call {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 70px;
    display: block;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: red;
    color: #FFF;
    cursor: pointer;

    left: 0;
    bottom: 0;
}

.viewman {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 6px;
    background-color: grey;
    color: #FFF;
    cursor: pointer;

    right: 20px;
    bottom: 10px;    
}

.viewopp {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 6px;
    background-color: grey;
    color: #FFF;
    cursor: pointer;

    right: 20px;
    top: 10px;    
}

.manturn{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 120px;
}

.oppturn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 120px;
}

.gameover{
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: green;
    top: 70px;
    left: 75px
}
.gameover h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
    margin: 40px 0 20px 0;
}

.gameover .winner-img{
    display: block;
    margin: 20px auto;
    width: 70px;
    height: 70px;
}

.gameover .play{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5em;
    width: 200px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.gameover .play:hover{
    background-color: orange;
}

.description{
    font-family: "Arial, sans-serif";
    width: var(--container-width);
    height: var(--container-height);
    display: block;
    margin: 25px auto;
    position: relative;
}

.description h2{
    text-align: center;
    color: rgb(128,0,0);
}

.description ol{
    margin-bottom: 30px;
}

